html,
body {
    padding: 0;
    margin: 0;
    background-color: rgba(43, 43, 43, 0.15);
}

@font-face {
    font-family: PressStart;
    src: url('../public/font/PressStart.ttf');
}

.btn{
    /* line-height: 1.25em !important;
    text-align: center !important;
    display:table-cell !important;
    vertical-align:middle !important; */
}

.game-title-btn{
    padding: 4px 6px 4px 6px;
    width: 100%;
    text-align: left;
    margin: 3px 5px 3px 0;
    color: black;
    background-color: #FE6100;
    border-color: #FE6100;
    box-shadow: 2px 2px 0 #DC267F;
}

.card-header{
    display: flex;
    flex-direction: row-reverse;
    max-height: 20px;
    background-color: #212529;
    text-align: justify-all;
    position: relative;
}

.absolute-tag-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 6px;
}

.absolute-tag-wrapper button{
    padding: 6px;
    font-weight: normal;
    background-color: rgba(100, 143, 255, 0.9);
    border-color: #648FFF;
    margin-bottom: 3px;
    color: white;
}

.card-footer{
    border-top: 2px solid #8072AC;
    background-color: #DC267F;
    display: flex;
    flex-direction: row-reverse;
}

.card-footer button{
    border: 2px solid #212529;
    color: #212529;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.88);
}

.card-title{
    color: #FFB000;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.25);
    font-size: 22px;
    margin-top: -14px;
}

.card-body{
 background-color: #212529;
}

.card-body h6{
    color: #DC267F;
    margin-bottom: 0;
}

.card-wrapper{
    width: 330px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image{
    min-height: 285px;
    min-width: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 0 0 rgba(128, 114, 172, 0.4),
    0 -2px 0 0 rgba(128, 114, 172, 0.4);
}

.navi-tooltip{
    font-family: 'PressStart', cursive;
    font-size: 12px;
}

.navi-blue{
    color: #2FA8D3;
    text-shadow: 1px 1px rgba(33, 37, 41, 0.25);
}

.jc-around {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .card-wrapper{
        width: 98%;
        min-width: 260px;
        max-width: 380px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .absolute-tag-wrapper{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 8px;
    }

    .absolute-tag-wrapper button{
        padding: 6px;
        font-weight: normal;
        font-size: 16px;
        background-color: rgba(100, 143, 255, 0.9);
        border-color: #648FFF;
        margin-bottom: 3px;
        color: white;
    }

    .results-col{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575.98px) and (max-width: 767.98px)
{
    .results-col{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .card-wrapper{
        min-width: 380px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}

/* Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}

XX-Large devices (larger desktops)
No media query since the xxl breakpoint has no upper bound on its width */


